<main
  class="relative w-full h-dvh flex justify-center font-SpaceGrotesk font-medium text-lg"
>
  <div
    class="absolute bg-cover bg-center -z-10 w-full h-[27%] top-0 left-0 md:w-4/12 md:h-full"
    style="background-image: url('./assets/bg-main-desktop.png')"
  ></div>
  <div
    class="w-full max-w-[68rem] h-full [&>*]:w-full flex flex-col md:flex-row p-6 md:p-0 items-center justify-center gap-28 md:gap-8 lg:gap-24 xl:gap-36"
  >
    <app-card-view [cardFormValues]="cardFormValues" />
    @if(!cardSubmitted) {
    <app-card-form
      (cardFormEvent)="onCardFormValueChanged($event)"
      (submittedEvent)="onCardSubmit()"
    />
    }@else {
    <app-card-added (resetEvent)="onCardReset()" />
    }
  </div>
</main>
